.adminconsole {
    display: flex;
    flex-direction: row;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    width: 25%;
    background: url("../../public/images/pattern_h.png");
    background-color: #15283c;
    color: #fff;
    transition: all 0.3s;
    z-index: 11;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.4);
    position: fixed;
    height: 100%;
}


.mainitems{
    margin-left: 25%;
    width:80%;
}