.adminconsole {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    width: 25%;
    background: url("../../public/images/wp6423037.jpg");
}