.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eee;
}

.login .container {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    max-height: 80vh;
    min-width: 15vw;
    max-width: 35vw;
    box-shadow: 0 0 10px -8px black;
    border-radius: 15px;
    background-color: white;
}

img {
    height: 100px;
    width: 150px;
}

.login .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11rem;
    background: url("../../public/images/hmd-home_nokia_216.jpg")no-repeat fixed center center/cover;
    border-radius: 15px 15px 0 0;
}

.login .showSpinner{
    height: 10px;
}

.login .loginMain {
    display: flex;
    justify-content: center;
    
    height: 20rem;
}

.formInput {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid #ddd 2px;
    width: 25vw;
    line-height: normal;
    font-weight: 200;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
}

.login label {
    margin-right: 3vw;
    display: inline-block;
    width: 100px;
    line-height: 2rem;
    height: 2rem;
    font-weight: 300;
    font-size: 15px;
}

.login .selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login .rememberCheck {
    margin-right: 10px;
}


.login button {
    width: 50%;
    height: 5vh;
    align-items: center;
    margin: 0 0 0 25%;
    background-color: rgb(156, 196, 117);
}

.spinner {
    width: 10em;
    height: 10em;
    border-top: 1em solid #6da9f5;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 0.6s linear infinite;
}

.head {
    width: 1em;
    height: 1em;
    background-color: #6da9f5;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg)
    }
}