.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eee;
}

.login .container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    min-width: 45vw;
    box-shadow: 0 0 10px -8px black;
    border-radius: 15px;
    background-color: white;
}

.login label {
    display: inline-block;
}

.login .logo {
    height: 25vh;
    background: url("https://source.unsplash.com/1600x900/?gamer")no-repeat fixed center center/cover;
    border-radius: 15px 15px 0 0;
}

.login input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid #ddd 2px;
    width: 350px;
    float: right;
    line-height: normal;
    font-weight: 200;
}

.login .loginMain {
    min-width: 40vw;
    margin-top: 5vh;
    padding: 25px;
}

.login .selectors {
    display: flex;
    flex-direction: row;
}

.login .remember {
    display: flex;
    flex-direction: row-reverse;

}