.menuItem {
    display: block;
    padding: 15px 25px;
    font-weight: 300;
    text-decoration: none;
    font-size: 18px;
    
}


 .menuItem span {
    margin-left: 10px;
    display: inline-block;
    color: white;
 }

 .menuItem button {
    height: 5vh;
    width: 10vw;
    margin: 2px 20px 20px;
    text-align: center;
}