.menuItem {
    display: block;
    padding: 15px 25px;
    font-weight: 300;
    text-decoration: none;
    font-size: 18px;
    
}


 .menuItem span {
    margin-left: 10px;
    display: inline-block;
    color: white;
 }