.user{
    display: flex;
    flex-direction: row;    
    align-items: center;
    height: 15vh;
    padding: 15px 25px;
    background: #214162;
    color: white;
}


.roundImage{
    display: block;
    width: 100%;
    max-width: 50px; 
    height: 50px;
    border-radius: 50%; 
}


.user h4{
    margin:0 1rem 0;
}