.user{
    display: flex;
    flex-direction: row;    
    align-items: center;
    height: 15vh;
    padding: 15px 25px;
    background: #214162;
    color: white;
}

.user img{
   height: 12vh; 
   width: 12vh; 
   border-radius: 100% 100%;
}


.user h4{
    margin:0 1rem 0;
}